body{
    background: linear-gradient(90deg, rgb(112, 0, 0), rgb(255, 25, 25), rgb(255, 25, 25), rgb(112, 0, 0));
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
    color: white;
}
h2 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
}
hr {
    height: 3.5px;
    background-color: white;
}
a {
    color: white;
}
a:visited {
    color: white;
}
a:hover.home {
    color: rgb(25, 25, 255);
}
h4 {
    margin-right: 200px;
}
img {
    margin-left: 200px;
    height: 200px;
    width: 150px;
}
div {
    display: flex;
    align-items: center;
    justify-content: center;
}
details {
    