body{
    background: linear-gradient(90deg, rgb(0, 0, 112), rgb(25, 25, 255), rgb(25, 25, 255), rgb(0, 0, 112));
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
    color: white;
}
h2 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
}
p {
    font-size: 18px;
}
a {
    color: white;
}
a:visited {
    color:white;
}
a:hover.github {
    color: black;
}
a:hover.bookshelf {
    color: rgb(255, 25, 25);
}
a:hover.watchlist {
    color: rgb(25, 255, 25);
}